<div data-controller="limit-visible" data-limit-visible-substring-value="true">
  <div class="centered my-4 px-4 sticky-top">
    <input class="form-control text" placeholder="<%= @placeholder %>" type="text" data-action="input->limit-visible#update"></input>
  </div>

  <div class="list-group">
    <%= content %>
  </div>
</div>


