<% if @projects.any? %>
  <h2>Ruolo associato ai seguenti progetti</h2>

  <% @projects.each do |p| %>
    <%= link_to p.name, p, class: "btn btn-success" %>
  <% end %>
  <% if @role_policy.update? %>
    <%= link_to "modifica progetti associati", [:choose_project, @role], data: { turbo_frame: 'modal'}, class: "ps-3" %>
  <% end %>
<% else %>
  Ruolo <strong>non ancora associato</strong> ad alcun progetto. 
  <% if @role_policy.update? %>
    <%= link_to "Associa a un progetto", [:choose_project, @role], data: { turbo_frame: 'modal'} %>.
  <% end %>
<% end %> 
