<% @ssh_logins.each do |login| %>
  <div>
    <span class="badge badge-lg bg-info text-dark"><%= sprintf("%03d", login.numbers) %></span>
    <%= link_to(login.user, login.user) if @show == :user || @show == :all %>
    <%= link_to(login.node.to_s_short, login.node) if @show == :node || @show == :all %>
    <small>last: <%= l login.last_login %></small>
  </div>
<% end %>
