<h1>Progetti</h1>

<% if policy(:project).new? %>
  <div class="text-end my-2">
    <%= link_to "Crea nuovo progetto", new_project_path, class: "btn btn-primary" %>
  </div>
<% end %>

<div class="list-group">
  <% @projects.each do |project| %>
    <%= link_to project, class: "list-group-item" do %>
      <h2><%= project.name %></h2>
      <div class="text-secondary">
        <%= project.description %>
      </div>
    <% end %>
  <% end %>
</div>

