<h1>Siti web</h1>

<%= render ListGroupLimitVisibleComponent.new(placeholder: "Scrivi parte del nome del sito") do %>
  <% @web_sites.each do |item| %>
    <%= link_to item, class: "list-group-item list-group-item-actions", data: {"limit-visible-target" => "item", text: item.name, turbo_frame: :modal} do %>
      <%= item.name %>
    <% end %>
  <% end %>
<% end %>
