<h1>Avviso scadenza supporto sistema operativo</h1>

<p>Gentilissmi,</p>

<p>vi informiamo che il supporto ufficiale del sistema operativo della macchina <br/>
<strong><%= @node.name %></strong> <br/>
è terminato.</p>

<p>
Si esortiamo a richiedere una nuova macchina con sistema
operativo supportato rispondendo a questa mail oppure ad aggiornare 
il sistema operativo a una versione più recente.
</p>

<p>Cordiali saluti.</p>

